.satisfy{
  color: #6E7DA2;
  margin: 0 0 0 0;
  padding-top: 50px;
  padding-bottom: 10px;
font-family: 'Satisfy', cursive;
font-size: 90px;
font-weight: lighter;
}

.intro{
  background-color: #aedadd;
  height: 660px;
  /*overflow: auto;*/
  position: relative;
  margin-bottom: 0;
}

.surprise{
  margin: 1em;
}

body{
  margin: 0 0 0 0;
  text-align: center;
  font-family: sans-serif;
}


p{
  font-family: 'Raleway', sans-serif;
  color: #fcf8f3;
}


.subheader{
  font-size: 20px;
  color: #fcf8f3;
  font-weight: bold;
}

.eduinfo{
  color: black;
  /*width: 200px;
  /*padding: 0 0 0 30em;*/
  text-align: left;
  line-height: 1.5;
}

#webdev{
  font-size: 40px;
  margin: 145px 0 32px 0;
  color: #db996c;
}

.skill-row{
overflow: auto;
width: 50%;
margin: 2em auto 2em auto;
text-align: left;
}

#reading-img{
  /*margin: 20px;
  padding: 2em;*/
  border-radius: 100%;
  background-color: #e57b5e;
  margin-right: 1em;
  float: left;
  width: 25%;
}

#codeicon{
  /*margin: 20px;
  padding: 2em;*/
  border-radius: 100%;
  margin-left: 1em;
  float: right;
  width: 25%;
}

#myskills{
  font-size: 30px;
  margin: 0;
  padding: 10px;
  color: black;
}

table{
  width:50%;
  margin-left: 25%;
}

td{
  font-family: 'Raleway', sans-serif;
  color: black;
  padding: 10px;
  text-align: left;
}

.middle{
  overflow: auto;
  background-color: #fcf8f3;
  margin: 0;
}

/*.mtn{

  height: 200px;
  width: 100%;
}*/
.skills{
  height: 200px;
  background-color: #db996c;
  margin: 0;
}


.bottomcloud{
  position: absolute;
  top: 20%;
  right: 15%;
}

.topcloud{
  position: absolute;
  top: 3%;
  left: 10% ;
}



hr{
  margin: 0;
}

.bottom-container{
  background-color: #aedadd;
  position: relative;
  margin: 0 0 0 0;
  overflow: auto;
}

.butn {
  -webkit-border-radius: 15;
  -moz-border-radius: 15;
  border-radius: 15px;
  -webkit-box-shadow: 0px 1px 3px fcf8f3;
  -moz-box-shadow: 0px 1px 3px fcf8f3;
  box-shadow: 0px 1px 3px fcf8f3;
    font-family: sans-serif;
  color: #fcf8f3;
  font-size: 20px;
  background: #db996c;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
  margin: 5em;
}

.butn:hover {
  background: #fcf8f3;
  text-decoration: none;
  color: #db996c;
}

.footer-link{
  font-family: 'Raleway', sans-serif;
  color: black;
  margin: 2em;
  text-decoration: none;
}

.footer-link:hover{
  color: #fcf8f3;
}

.copyright{
  font-size: 0.75rem;
}

/* Everything that follows is for photog.html page*/







.photogintro{
margin: 8% 20% 20%;
}

.photogheader{
  font-family: 'Raleway', sans-serif;
  font-size: 70px;
  padding-bottom: 15%;
}

.photogquote{
  font-family: 'Open Sans', sans-serif;
  text-align: center;
}

@keyframes blink {
  from {color: black;}
  to {color: grey;}
}

.down-arrow{
  align: bottom;
  margin: 15% auto 10% auto;
  animation-name: blink;
  animation-duration: 2s;
  animation-iteration-count: infinite;
}

.parallax1{
  margin-top: 10%;
  background-image:url('../images/airlie.jpg');
  height: 350px;
  /* width: 95%; */
  /*object-fit: contain;*/
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: 50% 37%;
  margin: auto;
  background-size: contain;
  /* text-align: center; */
  border-bottom: : solid;
}


.parallax2{
  background-image:url('../images/malaga.jpg');
  height: 600px;
  /*object-fit: contain;*/
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: 50% 27%;

  padding: 0;
  background-size: contain;

}

.parallax3{
  background-image:url('../images/queenstown_view.jpg');
  height: 350px;
  /*object-fit: contain;*/
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: 50% 32%;

  padding: 0;
  background-size: contain;

}

.parallax4{
  background-image:url('../images/ubud.jpg');
  height: 500px;
  /*object-fit: contain;*/
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: 50% 32%;

  padding: 0;
  background-size: contain;
}

.parallax5{
  background-image:url('../images/plaza_de_espana.jpg');
  height: 600px;
  /*object-fit: contain;*/
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: 50% 27%;
  padding: 0;
  background-size: contain;
}

.parallax6{
  background-image:url('../images/ubud_monkey.jpg');
  height: 600px;
  /*object-fit: contain;*/
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: 50% 17%;
  padding: 0;
  background-size: 45%;
}

.parallax7{
  background-image:url('../images/monkey_banana.jpg');
  height: 620px;
  /*object-fit: contain;*/
  background-blend-mode: color-burn;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: 50% 22%;

  padding: 0;
  background-size: 45%;
}

.parallax8{
  background-image:url('../images/doubtful_fall.jpg');
  background-blend-mode: darken;
  height: 650px;
  /*object-fit: contain;*/
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: 50% 17%;

  padding: 0;
  background-size: 35%;
}

.parallax9{
  background-image:url('../images/queenstown_flower.jpg');
  height: 600px;
  /*object-fit: contain;*/
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: 50% 0;

  padding: 0;
  background-size: 35%;
}

.parallax10{
  background-image:url('../images/mt_baker.JPG');
  height: 600px;
  /*object-fit: contain;*/
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: 50% 22%;

  padding: 0;
  background-size: 50%;
}

.parallax11{
  background-image:url('../images/supmtn.jpg');
  height: 600px;
  /*object-fit: contain;*/
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: 50% 27%;

  padding: 0;
  background-size: contain;
}

.parallax12{
  background-image:url('../images/sevilla_flamenco.gif');
  height: 600px;
  /*object-fit: contain;*/
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: 50% 57%;

  padding: 0;
  background-size: 50%;
}

.filler{
  padding: 2%;
  height: 250px;
  /* border: inset 1px #fcf8f3; */
  background-color: #fcf8f3;
  box-shadow: 10px 10px 5px grey;
}

.photo-description{
  align: bottom;
  color: grey;
  font-size: 20px;
}

.sub-description{
  color: grey;
  font-size; 17px;
}

.photogbody{
  background-color: #fcf8f3;
  text-align: center;
}
